{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="profile-container">
  <div class="profile-header">
    <img class="account-img"
         src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'img/default.jpg' %}{% endif %}"
         alt="{{ user.username }}">
    <div class="profile-info">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>

  <div class="profile-form-container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="form-legend">Profile Info</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
      </fieldset>
      <div class="form-group text-center">
        <button class="btn btn-gradient w-50" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
